
{core assign=t method=getTable table=blog_posts  where="slug = '`$smarty.request.slug`'" list='1' limit='1'}


<div id='blog_left'>

	<div id='blog_list'>
			<div class='blog_header'>
				<a href='{$config.site_url}blog&id={$t.id}'>{$t.title|truncate:'150':'..'}</a><br />
				<span class='small red'>{$t.publish_date|date_format:'%A, %B %e, %Y'}</span>
			</div>
			<div class='blog_content'>{$t.content}</div>
	</div>
</div>
<div id='blog_right'>
	<div class='widget'>
		<h2>Categories</h2>
		{core assign='cats' method=getTable table=blog_categories order='title asc'}
		{foreach item=c from=$cats}
			{core assign=ct method=getTable table=blog_posts where="id in (select distinct blog_id from blog_posts_to_categories where category_id = '`$c.id`') and active=1" cols='count(*) as count' list=1 }
			<a href='{$config.site_url}blog&id={$c.id}'>{$c.title}</a> <span class='small red'>({$ct.count|default:0})</span><br />
		{/foreach}
	</div>
	<div class='widget'>
		<h2>Images</h2>
		{core assign=imgs method=getTable table=blog_images where='active=1 and blog_id in (select distinct blog_id from blog_posts_to_categories)' order='id desc' group='download'}
		{foreach item=img from=$imgs}
			<a href='{$config.site_url}{$img.download}' class='image_lightbox'><img src='{$config.site_url}{$img.download|replace:'/Image/':'/Thumb/'}' class='blog_image' /></a>
		{/foreach}
		<br clear='all' />
	</div>
	<div class='widget'>
		<h2>Search</h2>
		<form method='post' action='{$config.site_url}blog'>
		<input type='text' name='query' value='' /><input type='submit' value='Go' />
		</form>
	</div>
	{core assign=dates method=getTable table='blog_posts'  cols='publish_date,count(*) as count' where='active=1' group='date_format(publish_date,"%m%y")' order='publish_date desc'}
	{if count($dates) > 1}
		<div class='widget'>
			<h2>Archive</h2>
			{foreach item=dt from=$dates}
				<a href='{$config.site_url}blog&pub={$dt.publish_date|date_format:"%m%y"}'>{$dt.publish_date|date_format:'%B, %Y'}</a>
				<span class='small red'>({$dt.count})</span><br />
			{/foreach}
		</div>
	{/if}
</div>