<div style='float:left;width:56%;font-size:13px;line-height:18px;padding:8px 6px;margin-right:2px;'>
	<h2 style='margin:4px 0;padding:6px;padding-left:0;font-size:16px;border-bottom:1px dashed #CCC;'>Shipping Address</h2>
	<div>
		{$smarty.session.checkout_info.firstName} {$smarty.session.checkout_info.lastName}<br />
		{$account_info.email}<br />
		{$smarty.session.checkout_info.shipping_address}<br />
		{if $smarty.session.checkout_info.shipping_address2}{$smarty.session.checkout_info.shipping_address2}<br />{/if}
		{$smarty.session.checkout_info.shipping_city}, {$smarty.session.checkout_info.shipping_state} {$smarty.session.checkout_info.shipping_zip}<br />
		{core assign=country method=getTable table=countries where="id = '`$smarty.session.checkout_info.shipping_country`'" list=1}
		{$country.title}
	</div>
</div>
<div style='float:left;width:41%;font-size:13px;line-height:18px;padding:3px 4px;margin-right:2px;'>
	<h2 style='margin:4px 0;padding:6px;padding-left:0;font-size:16px;border-bottom:1px dashed #CCC;'>Shipping Information</h2>
	<div>
		<strong>From:</strong><br />
		{$config.shipper_postal_code}, {$config.shipper_country_code}<p />
		<strong>Method:</strong><br />
		{core assign=st method=getTable table=fedex_services where="id = '`$smarty.session.order_data.service_type`'" list=1}
		Fedex {$st.title}
	</div>
</div>
<br clear='all' />
	{cart method=getCart assign=cart}
	<table style='border:1px solid #CCC;'>
	<tr>
		<th style='background-color:#EEE;width:463px;padding:4px;text-align:left;'>Description</th>
		<th style='background-color:#EEE;width:54px;text-align:center;padding:4px;'>Qty</th>
		<th style='background-color:#EEE;width:75px;text-align:center;padding:4px;'>Each</th>
		<th style=background-color:#EEE;'text-align:center;padding:4px;'>Total</th>
	</tr>
	{foreach item=c from=$cart name=cart key=key}
		{if $c.id != ''}
			{core assign=p method=getTable table=products where="id = `$c.id`" list=1}
			{if $p.parent_id}
				{core assign=pd method=getTable table=products where="id = `$p.parent_id`" list=1}
			{/if}
			<tr>
				<td style='padding:4px;border:1px solid #EEE;'>
						{if $p.parent_id}
							<strong>{$p.title}</strong><br />
							{$pd.description|strip_tags|truncate:'100':'..'}
						{else}
							<strong>{$p.title}</strong><br />
							{if $c.event_id}
								{core assign=event method=getTable table=events where="id=`$c.event_id`" list=1}
								<strong>{$event.start_date|date_format}{if $event.end_date != $event.start_date} - {$event.end_date|date_format}{/if}</strong><br />
							{/if}
							{$p.description|strip_tags|truncate:'100':'..'}
						{/if}
				</td>
				<td style='padding:4px;border:1px solid #EEE;'>{$c.qty}</td>
				{if ($account_info.type_id == 1 || $account_info.type_id == 3) && $p.price != $p.price2}
					<td style='padding:4px;border:1px solid #EEE;'><strike><small>{$p.price|money_format}</small></strike><br /><strong class='red'>{$p.price2|money_format}</strong></td>
					<td style='padding:4px;border:1px solid #EEE;'><strike><small>{$p.price*$c.qty|money_format}</small></strike><br /><strong class='red'>{$p.price2*$c.qty|money_format}</strong></td>
				{else}
					<td style='padding:4px;border:1px solid #EEE;'>{$p.price|money_format}</td>
					<td style='padding:4px;border:1px solid #EEE;'>{$p.price*$c.qty|money_format}</td>
				{/if}
			</tr>
		{/if}
	{/foreach}
	{if !$c}
		<tr>
			<td colspan='5'  style='text-align:center;padding:4px;border:1px solid #EEE;'>
				No products were found. This is order was not completed successfully.
			</td>
		</tr>
	{/if}
	</table>
	<div style='float:right;width:200px;padding-top:10px;'>
		<table cellpadding='0' cellspacing='0' border='0' id='cart_totals'>
			{if $totals.subtotal > 0}<tr><th align='right'>Subtotal :</th><td align='left'>{$totals.subtotal|money_format}</td></tr>{/if}
			{if $totals.discount > 0}<tr><th class='red' align='right'>PASS Discount :</th><td class='red' align='left'>-{$totals.discount|money_format}</td></tr>{/if}
			{if $totals.tax}<tr><th align='right'>Tax :</th><td align='left'>{$totals.tax|money_format}</td></tr>{/if}
			{if $totals.weight > 0}
					{if count($totals.shipping)}
						<tr>
							<th align='right'>
								Shipping to {$smarty.session.order_data.country}:
							</th>
							<td align='left'>
								{$totals.shipping[$smarty.session.order_data.service_type]|money_format}
							{*
								<form method='post' action='{$config.site_url}cart'>
								<input type='hidden' name='mode' value='shipping' />
								<select name='data[service_type]' style='width:68px;margin-left:-5px;font-size:12px;' onchange="this.form.submit();$('checkout_btn').hide();">
									{foreach item=s from=$totals.shipping key=k}
										{core assign=st method=getTable table=fedex_services where="id='$k'" list=1}
										<option value='{$k}' {if $smarty.session.order_data.service_type == $k}selected='selected' {/if}>{$s|money_format} - {$st.title}</option>
									{/foreach}
								</select>
								*}
							</td>
						</tr>
					{else}
						<tr><th align='right'>Shipping :</th><td align='left'>
							<a href='{$config.site_url}lightbox/cart_shipping' class='ajax_lightbox' lbx='340' lby='200' title='Update Shipping Information' alt='Update Shipping Information'>Calculate</a>
						</td></tr>
					{/if}
			{/if}
			<tr><th align='right'>Total :</th><td align='left'>{$totals.total|money_format}</td></tr>
			</tr>
		</table>
		<br clear='all' />
	</div>