{include file=admin/admin_header.html}

<form method='post' action='{$config.site_url}admin/user_handler.php' />
{if $smarty.request.id}
	{* update page *}
	{core assign=page method=getContent pageid=user_edit}
	{core assign=tips method=getContent pageid=user_edit_tips}
	{core assign=data method=getTable table=users list=1 where="id=`$smarty.request.id`"}
	<input type='hidden' name='mode' value='update_user' />
	<input type='hidden' name='data[id]' value='{$smarty.request.id}' />
{else}
	{* add page *}
	{core assign=page method=getContent pageid=user_add}
	{core assign=tips method=getContent pageid=user_add_tips}
	<input type='hidden' name='mode' value='insert_user' />
{/if}

<h1>{$page.title}</h1>
<p>{$page.content}</p>
<table class='list-table'>
<tr>
	<th>Username</th>
	<td><input type='text' name='data[username]' value='{$data.username}' style='width:100%;' /></td>
</tr>
<tr>
	<th>Password</th>
	<td><input type='text' name='data[password]' style='width:100%;' /></td>
</tr>
<tr>
	<th>Type</th>
	<td>
		{core assign=types method=getCategories table=user_types}
		{html_options name=data[type_id] options=$types selected=$data.type_id}
	</td>
</tr>
<tr>
	<th>Email Address</th>
	<td><input type='text' name='data[email]' value='{$data.email}' style='width:100%;' /></td>
</tr>
<tr>
	<th>Firstname</th>
	<td><input type='text' name='data[firstname]' value='{$data.firstname}' style='width:100%;' /></td>
</tr>
<tr>
	<th>Lastname</th>
	<td><input type='text' name='data[lastname]' value='{$data.lastname}' style='width:100%;' /></td>
</tr>
<tr>
	<th>Date Added</th>
	<td><input type='text' name='data[date_added]' value='{$data.date_added}' style='width:100%;' /></td>
</tr>
</table>
<input type='submit' value='submit' />
</form>


{* User Shipping Addresses *}
{if $config.show_user_shipping && $data.id}
	<h2>Shipping Addresses</h2>
	<table class='list-table'>
	{core assign=addresses method=getTable table=addresses where="user_id = `$data.id`"}
	{if !$addresses|count}	{* if no addresses exist for this user *}
		<tr><td align='center' colspan='2'>No Shipping Information Has Been Saved</td></tr>
	{else}	{* output a list of addresses *}
		<tr>
			<th>Address Title</th>
			<th>Actions</th>
		</tr>
		{foreach item=ad from=$addresses}
			<tr>
				<td>
					{$ad.title}
				</td>
				<td style='width:100px;'>
					<a href='{$config.site_url}admin/address_edit.php?id={$ad.id}'>Edit</a> | <a href='{$config.site_url}admin/address_handler.php?mode=remove&id={$ad.id}'>Delete</a>
				</td>
			</tr>
		{/foreach}
	{/if}
	</table>
{/if}
{include file=admin/admin_footer.html}
