<div id='widget_login'>
	<h3>login panel</h3>
	Use class='overtext' alt='text to go over' to add overtext to a form element.<p />
	<div id='login_error' class='error_container'></div>
	<form method='post' action='' trigger='button_login' xhr_type='update' xhr_preload='false' success_element='widget_login' fail_element='login_error'>
	<input type='hidden' name='mode' value='test' />
	<input type='text' name='username' class='overtext' alt='username' /><p />
	<input type='password' name='password' class='overtext' alt='password' /><p />
	<input id='button_login' type='submit' value='login' />
	</form>
</div>