{include file="components/main_header.html"}
{include file="components/main_template.html"}

<style type='text/css'>
{literal}
	.tab-holder{background:url(http://psd2html.com/images/bg-reasons-tab.jpg) no-repeat;padding:.929em 0 .286em;position:relative;overflow:hidden;width:430px;}
	.tabs-holder{height:1%;overflow:hidden;}
	.steps-nav{width:100%;overflow:hidden;font-size:.786em;padding:.909em 0 1px;position:relative;}
	li{padding:0;background:none;width:100%;overflow:hidden;}
	.num{float:left;height:54px;width:39px;margin:7px 10px 0 0;font-size:40px;color:#fff;text-align:center;line-height:54px;}
	.num{margin-right:7px;}#tenth-reason .num{width:70px;}.num span{background:url(http://psd2html.com/images/about-sprite.gif) no-repeat;}
	.cycle-gallery ol.tabs{background:none;position:relative;overflow:hidden;height:105px;padding:0;width:99999px;float:none;}
	.cycle-gallery ol.tabs li{position:absolute;top:0;left:0;width:430px;display:none;}
	.cycle-gallery ol.tabs li.active{z-index:1;display:block;}
{/literal}
</style>

{* TESTING AREA *}
<div class="cycle-gallery">
									<ul class="tab-nav">
										<li class="first"><a href="#first-reason" class="active tab" title="1">1<span></span></a></li>
										<li class="second"><a href="#second-reason" class="tab" title="2">2<span></span></a></li>
										<li class="third"><a href="#third-reason" class="tab" title="3">3<span></span></a></li>
										<li class="fourth"><a href="#fourth-reason" class="tab" title="4">4<span></span></a></li>
										<li class="fifth"><a href="#fifth-reason" class="tab" title="5">5<span></span></a></li>
										<li class="sixth"><a href="#sixth-reason" class="tab" title="6">6<span></span></a></li>
										<li class="seventh"><a href="#seventh-reason" class="tab" title="7">7<span></span></a></li>
										<li class="eighth"><a href="#eighth-reason" class="tab" title="8">8<span></span></a></li>
										<li class="ninth"><a href="#ninth-reason" class="tab" title="9">9<span></span></a></li>
										<li class="tenth"><a href="#tenth-reason" class="tab" title="10">10<span></span></a></li>
									</ul>
									<div class="tabs-holder">
										<ol class="tabs">
											<li class="active" id="first-reason">
												<em class="num" title="1">1<span></span></em>
												<div class="holder">
													<p>We are the leader in the field. Founded in early 2005, P2H.com / PSD2HTML.com was the first service of its kind. We have over 40,000 clients to date.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="second-reason">
												<em class="num" title="2">2<span></span></em>
												<div class="holder">
													<p>We have expansive resources. With over 300 full-time employees, we can ensure the highest quality for each and every project.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="third-reason">
												<em class="num" title="3">3<span></span></em>
												<div class="holder">
													<p>We offer a comprehensive workflow. With at least four departments working on every project, we can effectively meet all of our client's needs.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="fourth-reason">
												<em class="num" title="4">4<span></span></em>
												<div class="holder">
													<p>We guarantee effective and efficient communication. The Client Area is our main communication device as it tracks the entire history of each project and ticket. All levels of management value your feedback. Top management can be reached through a special contact form that is available in the Client Area.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="fifth-reason">
												<em class="num" title="5">5<span></span></em>
												<div class="holder">
													<p>We conform to international quality standards. In order to provide optimum service to its customers, P2H.com / PSD2HTML.com has obtained a certificate of quality ISO 9001:2000. Read more about <a rel="nofollow" href="http://www.iso.org/iso/iso_catalogue/management_standards/iso_9000_iso_14000/iso_9000_essentials.htm">ISO 9001:2000</a> and <a href="http://www.psd2html.com/about-us.html#slicing-guidelines">slicing guidelines</a>.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="sixth-reason">
												<em class="num" title="6">6<span></span></em>
												<div class="holder">
													<p>We are ahead of the game. P2H.com / PSD2HTML.com's research department continually works to explore new technologies, methods and techniques in markup creation. This allows us to always be on top in modern web development. We have a unique knowledge base on markup-design, which includes proprietary solutions and techniques. This is the result of more than five years of experience.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="seventh-reason">
												<em class="num" title="7">7<span></span></em>
												<div class="holder">
													<p>We implement. In addition to a conversion service, P2H.com / PSD2HTML.com supports a number of options to implement your design into WordPress, Movable Type, Drupal, Joomla!, Pligg, Blogger, Shopify, X-Cart, CMS Made Simple, CubeCart and other CMS-platforms.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="eighth-reason">
												<em class="num" title="8">8<span></span></em>
												<div class="holder">
													<p>We are a U.S.-based company. P2H.com / PSD2HTML.com by Perflect Corporation has locations in Seattle, Las Vegas, Boston and a development center in Europe.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="ninth-reason">
												<em class="num" title="9">9<span></span></em>
												<div class="holder">
													<p>We work under a non-disclosure agreement. <a href="http://www.psd2html.com/privacy-policy.html#nda">Learn more</a>.</p>
													<div class="steps-nav">
														<a href="#"><span>Next</span></a>
														<em>or click numbers above to switch between reasons</em>
													</div>
												</div>
											</li>
											<li id="tenth-reason">
												<em class="num" title="10">10<span></span></em>
												<div class="holder">
													<p>We offer a satisfaction guarantee or your <a href="http://www.psd2html.com/about-us.html#money-back">money back</a>.</p>
												</div>
											</li>
										</ol>
									</div>
								</div>


{* END TESTING *}

{include file="components/main_footer.html"}